<div class="span6">
  <h3>Tubes</h3>
  <table class="table table-hover tube-list">
    {{#each tubes}}
      <tr {{action openTube this}}>
        <td>
          <a href="javascript://">{{name}}</a>
        </td>
      </tr>
    {{/each}}
  </table>
</div>
<div class="span6 well">
  <h3>Server info</h3>
  <table class="table table-hover">
    {{#each props}}
      <tr>
        <td>
          {{name}}
        </td>
        <td>
          {{value}}
        </td>
      </tr>
    {{/each}}
  </table>
</div>
