---
title: Home
---


<script type="text/x-handlebars" data-template-name="logger">
  {{#each controller}}
    <div class="log-item">
      Connection: {{current-connections}}
    </div>
  {{/each}}
</script>

<script type="text/x-handlebars" data-template-name="application">

  <h2>BeanStalk monitor</h2>
  {{outlet}}

</script>