---
title: Home
---


<script type="text/x-handlebars" data-template-name="logger">

  <button {{action trackGeneral}}>General Info</button>
  <button {{action trackDefaultTube}}>Default tube</button>


  {{#each controller}}
    <div class="log-item">
      Message
    </div>
  {{/each}}
</script>

<script type="text/x-handlebars" data-template-name="application">

  <h2>BeanStalk monitor</h2>
  {{outlet}}

</script>