---
title: Home
---


<script type="text/x-handlebars" data-template-name="tube-list">
  {{#each controller}}
    <div class="tube">
      <a {{action openTube this}}>{{name}}</a>
    </div>
  {{/each}}
</script>

<script type="text/x-handlebars" data-template-name="application">

  <h2>BeanStalk monitor</h2>
  <div class="menu">
    <button {{action trackGeneral}}>General Info</button>
  </div>
  <div class="tube-list">
    {{outlet tubes}}
    {{outlet innerData}}
  </div>

</script>